@layer reset, base, tokens, recipes, utilities;



@layer base {

  body, html {
    font-family: var(--font-mplus), var(--font-varela-round), var(--font-noto-serif-jp), 'Varela Round', 'Noto Serif JP', sans-serif;
  }


  pre {
    white-space: pre-wrap;
    word-break: break-word;
  }

  html.lenis, html.lenis body {
    height: auto;
  }

  .nb { white-space: nowrap; }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  .primary-button:hover .primary-button__text {
    background-image: none !important;
    color: #fff !important;
    transition: color 0.3s, background 0.3s;
  }
}
