@layer reset, base, tokens, recipes, utilities;

.gradient-text {
  background: linear-gradient(90deg, #FF749D 0%, #FFB374 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

